.table-cnt{
    user-select: none;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ant-table-thead,
.ant-table-tbody{
    user-select: text;
}
.table-header{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    max-width: 150px;
    width: 70%;
    user-select: none;
}
.table-header input{
    margin: 2px;
}
.tags-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    gap: 2px;
}
.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
