.item-info-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}
.single-info-cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    padding: 15px;
    align-items: center;
    border: 3px solid #333;
    border-radius: 5px;
    gap: 10px;
}
.single-info-cnt h1{
    display: flex;
    justify-content: center;
    text-align-last: center;
    max-width: 80%;
    margin: 0;
    color: #333;
}
.item-description{
    display: flex;
    justify-content: center;
    text-align-last: center;
    font-size: 1.2rem;
    margin:0;
    max-width: 80%;
}
.item-price{
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: beige;
    border-radius: 5px;
    color: rgb(12, 92, 12);
}
.tags-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    gap: 5px;
}
.item-tags{
    margin: 0;
    background-color: rgb(47, 193, 161);
    color: rgb(21, 21, 21);
    padding: 3px;
    font-size: 1.2rem;
    border-radius: 5px;
}
.item-date{
    margin: 0;
    font-size: larger;
}
.img-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    gap: 7px;
}
.pic{
    min-height: 50px;
    max-height: 200px;
    background-color: gray;
    border: 1px dashed #333;
    padding: 2px;
    border-radius: 5px;
  }
  .single-btn-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }