
.navbar-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    user-select: none;
    z-index: 1;
}
.brand-links-cnt{
    display: flex;
    flex: 0.9;
    justify-content: space-between;
    align-items: center;
}
.brand-title{
    font-size: 2.5rem;
    margin: .5rem;
}
.brand-title a{
    text-decoration: none;
    color: white;
}
.cart-logout{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:20px;
}
.logout{
    display: flex;
    gap: 5px;
    font-size: 1.5rem;
    color: #66dd74;
    cursor: pointer;
    border-radius: 25%;
}
.logout span{
    font-size: 1.2rem;
    color: inherit;
}
.logout:hover{
    transition: 0.5s;
    color: #a7301b;
    background-color: #e0dddd;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    display: block;
}
.navbar-links li:hover{
    background-color: #555;
}

@media screen and (max-width: 900px) {
    .brand-title{
        font-size: 2.3rem;
    }
    .navbar-links a{
        font-size: 1.3rem;
    }
    .cart-logout{
        gap:15px;
     }
    
}
@media screen and (max-width: 800px) {
    .navbar-cnt{
        justify-content: center;
    }
    .brand-links-cnt{
        flex-direction: column;
        flex: 0.9;
    }
    .brand-title{
        font-size: 2.1rem;
    }
    .navbar-links a{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    .brand-links-cnt{
        flex: 1;
    }
    .cart-logout{
        margin-right: 15px;
        flex-direction: column-reverse;
        width: 200px;
        justify-content: start;
     }
     .brand-title{
        font-size: 1.8rem;
    }
    .navbar-links a{
        font-size: 1rem;
    }
}