*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.app{
    user-select: none;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 25px;
}
@media(max-width:550px){
    .main{
        grid-template-columns: 1fr;
    }
}
@media(min-width:551px) and (max-width:900px){
    .main{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:901px) and (max-width:1200px){
    .main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width:1201px){
    .main{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}